{
    "host": "192.168.1.1",
    "port": 8080,
    "username": "admin",
    "password": "admin",
    "log_level": "INFO",
    "log_path": "./qc.log",
    "protected_tag": "ipt",
    "non_protected_tag": "public",
    "age": 2419200,
    "minimum_age": 432000,
    "use_pushover": true,
    "use_log": true,
    "po_key": "",
    "po_token": "",
    "delete_torrents": false,
    "enable_dragnet": true,
    "dragnet_outfile": "./orphaned.csv"
}